{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4">{{ creator.name }} {% if creator.surname %}{{ creator.surname }}{% endif %}</h1>
    <div class=" mt-4">
        <div class="mb-2"><strong>Datum narození:</strong> {{ creator.date_of_birth }} ({{ creator.calculate_age }} let)</div>
        <div class="mb-2"><strong>Místo narození:</strong> {{ creator.place_of_birth }}</div>
        {% if creator.date_of_death %}
            <div class="mb-2"><strong>Datum úmrtí:</strong> {{ creator.date_of_death }}</div>
        {% endif %}
        {% if creator.place_of_death %}
            <div class="mb-2"><strong>Místo úmrtí:</strong> {{ creator.place_of_death }}</div>
        {% endif %}
        <div class="mb-2"><strong>Země:</strong> {{ creator.country }}</div>
        {% if creator.directs.all %}
            <div class="mb-2"><strong>Režisér:</strong>
            {% for movie in creator.directs.all %}
                <a href="{% url 'movie' movie.id %}">{{ movie }}</a>
            {% endfor %}
            </div>
        {% endif %}
        {% if creator.acts.all %}
            <div class="mb-2"><strong>Herec:</strong>
            {% for movie in creator.acts.all %}
                <a href="{% url 'movie' movie.id %}">{{ movie }}</a>
            {% endfor %}
            </div>
        {% endif %}
        <div class="p-3 mb-2 bg-light"><strong>Biografie:</strong> {{ creator.biography }}</div>
    </div>
    <a href="{% url 'creator_update' creator.id %}" class="btn btn-primary">update</a>
    <a href="{% url 'creator_delete' creator.id %}" class="btn btn-danger">delete</a>
</div>
{% endblock %}