{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4">{{ movie.title_orig|upper }}</h1>
    <div class="movie-title-cz text-muted">{{ movie.title_cz }}</div>
    <div class="movie-images">
        {% for image in images %}
            <span class="movie-image">
                <a href="{% url 'image' image.id %}">
                    <img src="{{ image.image.url }}" alt="{{ image.description }}" width="150px">
                </a>
            </span>
        {% endfor %}
    </div>
    <div class="movie-details mt-4">
        <div class="movie-genres mb-2"><strong>Žánry:</strong> {{ movie.print_genres }}</div>
        <div class="movie-countries mb-2"><strong>Země:</strong> {{ movie.print_countries }}</div>
        <div class="movie-director mb-2"><strong>Režie:</strong>
            {% for director in movie.directors.all %}
                <a href="{% url 'creator' director.id %}">{{ director }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </div>
        <div class="movie-cast mb-2"><strong>Hrají:</strong>
            {% for actor in movie.actors.all %}
                <a href="{% url 'creator' actor.id %}">{{ actor }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </div>
        <div class="movie-length mb-2"><strong>Délka:</strong> {{ movie.length }} min</div>
        <div class="movie-rating mb-2"><strong>Hodnocení:</strong> {{ movie.rating }}</div>
        <div class="movie-released mb-2"><strong>Premiéra:</strong> {{ movie.released|date:"j. n. Y" }}</div>
        <br>
        <div class="movie-description p-3 mb-2 bg-light"><strong>Popis:</strong> {{ movie.description }}</div>

        {% if request.user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                <table>{{ form_review }}</table>
                <button type="submit">Odeslat</button>
            </form>
        {% endif %}

        {% if reviews %}
            <div class="movie-reviews">
                {% for review in reviews %}
                    <div class="movie-review bg-light">
                        <div class="movie-review-user">
                            Uživatel: {{ review.user }}
                        </div>
                        <div class="movie-review-rating">
                            Hodnocení: {{ review.rating }}
                        </div>
                        <div class="movie-review-text">
                            Komentář: {{ review.text }}
                        </div>
                        <br>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}