<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container fixed">
            <a class="navbar-brand" href="/">HollyMovies</a>
            <button
                    class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarNavAltMarkup"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home</a>
                    <a class="nav-item nav-link active" href="{% url 'movies' %}">Movies</a>
                    <a class="nav-item nav-link active" href="{% url 'genres' %}">Genres</a>
                    <a class="nav-item nav-link active" href="{% url 'creators' %}">Creators</a>
                    <a class="nav-item nav-link active" href="{% url 'movie_create' %}">Add movie</a>
                    <a class="nav-item nav-link active" href="{% url 'creator_create' %}">Add creator</a>
                </div>
            </div>
        </div>
    </nav>